@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --primary: #2b2b2b;
    --secondary: #315D6D;
    --background: #ffffff;
    --background-secondary: #eeeeee;
    --background-opacity: rgba(255, 255, 255, 0.4); /* Nova variável com opacidade */
    --button-text: #000000;
    --text-secondary: #444444;
    --text-tertiary: #666666;
    --dropdown: #e0e0e0;
    --dropdown-hover: #cccccc;
    --button-secondary: #f0f0f0;
    --selected: #d6deff;
    --link: #0318cc;

    /* Cores do MeGuie */
    --marine: #315D6D;
    --red: #AD0123;
    --purple: #860B8E;
    --gray: #3D3C3C;
    --light-gray: #EEEEEE;
    --dark-blue: #0D1424;

    --contrast-bt-text: #ffffff;
    --contrast-bt-nav: #2b2b2b;

    --action: #860B8E;

    --font-inter: "Inter", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    /* Tamanho base da fonte */
    --base-font-size: 16px;

    /* Coisas do site do Data (Não mexer) */
    --data-blue: #8cd2f4;
    --data-pink: #ec90c5;
    --data-purple: #860B8E;
  }

  .dark {
    --primary: #f0f2fc;
    --secondary: #f9a1d3;
    --background: #000000;
    --background-secondary: #1b1b1b;
    --background-opacity: rgba(18, 18, 18, 0.4); /* Nova variável com opacidade no tema escuro */
    --button-text: #fff;
    --text-secondary: #bbbbbb;
    --text-tertiary: #666666;
    --dropdown: #2d2d2d;
    --dropdown-hover: #454545;
    --button-secondary: #1d1d1d;
    --selected: #324e70;
    --link: #9bd7f6;

    --marine: #000000;
    --red: #000000;
    --purple: #000000;
    --gray: #000000;
    --light-gray: #0099ff;
    --dark-blue: #000000;
    --contrast-bt-text: #000000;
    --contrast-bt-nav: #000000;

    --action: #0099ff;

    --data-blue: #9bd7f6;
    --data-pink: #f9a1d3;
    --data-purple: #ffffff;
  }

  body {
    font-size: var(--base-font-size); /* Tamanho global ajustável */
    background-color: var(--background);
    color: var(--primary);
    font-family: var(--font-inter);
  }

  /* Forçando herança de tamanho da fonte */
  h1, h2, h3, h4, h5, h6, p, span, li, a, button, input, textarea, select {
    font-size: inherit !important; /* Força herança do body */
    line-height: 1.5; /* Ajusta o espaçamento */
  }

  h1 {
    font-size: 2.5rem; /* Baseado no tamanho global */
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  p, span, li, a {
    font-size: 1rem;
  }

  button, input, textarea, select {
    font-size: 1rem;
    font-family: inherit; /* Garante consistência */
  }

  /* Custom scrollbar for WebKit browsers */
  .scrollbar-hide::-webkit-scrollbar {
    width: 6px; /* Adjust the width for the scrollbar */
    height: 6px; /* Adjust the height for horizontal scrollbar */
  }

  .scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: var(--text-secondary); /* Change scrollbar color */
    border-radius: 10px; /* Make scrollbar edges rounded */
  }

  .scrollbar-hide::-webkit-scrollbar-track {
    background: transparent; /* Make scrollbar track transparent */
  }

  /* Custom scrollbar for Firefox */
  .scrollbar-hide {
    scrollbar-width: thin;
    scrollbar-color: var(--text-secondary) transparent;
  }

  /* For all browsers (fallback) */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: thin; /* Firefox */
  }

  .custom-padding-bottom {
    padding-bottom: 20px; /* Ajuste este valor conforme necessário */
  }

  /* Elementos e classes personalizados */
  .tooltip-balloon {
    position: relative;
    z-index: 50;
  }

  .tooltip-balloon::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: var(--background-secondary) transparent transparent transparent;
  }

  .overflow-x-hidden {
    overflow-x: hidden;
  }

  .wrapper {
    width: 100%;
    padding: 0 2rem;
    text-align: center;
  }

  /* Efeito polaroid */
  .polaroid {
    background: var(--background-secondary);
  }

  .polaroid > img {
    max-width: 100%;
    height: auto;
  }

  .caption {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2em;
  }

  .item {
    width: 30%;
    display: inline-block;
    margin-top: 2rem;
  }

  .item:hover {
    filter: none;
    transform: scale(0.7, 0.7) rotate(0deg) !important;
    transition: all 0.35s;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .transition-transform {
    transition: transform 0.3s ease;
  }

  .transform {
    transform: scale(1);
  }

  .hover\:scale-105:hover {
    transform: scale(1.05);
  }
}
