@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --primary: #2b2b2b;
    --secondary: #315D6D;
    --background: #ffffff;
    --background-secondary: #eeeeee;
    --background-tertiary: #dddddd;
    --background-opacity: rgba(255, 255, 255, 0.4); /* Nova variável com opacidade */
    --button-text: #000000;
    --text-secondary: #444444;
    --text-tertiary: #666666;
    --dropdown: #e0e0e0;
    --dropdown-hover: #cccccc;
    --button-primary: #cccccc;
    --button-secondary: #f0f0f0;
    --selected: #d6deff;
    --link: #0318cc;

    --footer-bg: #315D6D;

    /* Cores do MeGuie */
    --marine: #315D6D;
    --marine-header: #315D6D;

    --red: #AD0123;
    --purple: #860B8E;
    --gray: #3D3C3C;
    --light-gray: #EEEEEE;
    --dark-blue: #0D1424;
    --text-dark-blue: #0D1424;

    --contrast-bt-text: #ffffff;
    --contrast-bt-nav: #2b2b2b;

    --action: #860B8E;
    --action-sidebar: #860B8E;
    --red-sidebar: #AD0123;

    


    --font-inter: "Inter", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    /* Tamanho base da fonte */
    --base-font-size: 16px;

    /* Fatores de escala para títulos */
    --h1-scale: 2.5;
    --h2-scale: 2;
    --h3-scale: 1.75;
    --h4-scale: 1.5;
    --h5-scale: 1.25;
    --h6-scale: 1.1;

    /* Coisas do site do Data (Não mexer) */
    --data-blue: #8cd2f4;
    --data-pink: #ec90c5;
    --data-purple: #860B8E;
  }

  .dark {
    --primary: #f0f2fc;
    --secondary: #ffd900;
    --background: #000000;
    --background-secondary: #1b1b1b;
    --background-tertiary: #dddddd;
    --background-opacity: rgba(18, 18, 18, 0.4); /* Nova variável com opacidade no tema escuro */
    --button-text: #fff;
    --text-secondary: #bbbbbb;
    --text-tertiary: #666666;
    --dropdown: #2d2d2d;
    --dropdown-hover: #454545;
    --button-primary: #cccccc;
    --button-secondary: #1d1d1d;
    --selected: #324e70;
    --link: #9bd7f6;

    --marine: #000000;
    --marine-header: #ffffff;

    --red: #000000;
    --purple: #000000;
    --gray: #000000;
    --light-gray: #0099ff;
    --dark-blue: #ffffff;
    --text-dark-blue: #0D1424;
    --contrast-bt-text: #000000;
    --contrast-bt-nav: #000000;
    --footer-bg: #ffffff;


    --action: #ffd900;
    --action-sidebar: #2700b4;
    --red-sidebar: #AD0123;



    --data-blue: #9bd7f6;
    --data-pink: #f9a1d3;
    --data-purple: #ffffff;
  }

  body {
    font-size: var(--base-font-size); /* Tamanho global ajustável */
    background-color: var(--background);
    color: var(--primary);
    font-family: var(--font-inter);
  }

  /* Forçando herança apenas para elementos gerais */
  p, span, li, a, button, input, textarea, select {
    font-size: inherit;
    line-height: 1.5; /* Ajusta o espaçamento */
  }

  /* Títulos dinâmicos baseados no tamanho global */
  h1 {
    font-size: calc(var(--base-font-size) * var(--h1-scale)); /* Escala dinâmica */
    font-weight: 700;
    color: var(--primary);
  }

  h2 {
    font-size: calc(var(--base-font-size) * var(--h2-scale));
    font-weight: 600;
    color: var(--secondary);
  }

  h3 {
    font-size: calc(var(--base-font-size) * var(--h3-scale));
    font-weight: 600;
    color: var(--primary);
  }

  h4 {
    font-size: calc(var(--base-font-size) * var(--h4-scale));
    font-weight: 500;
    color: var(--primary);
  }

  h5 {
    font-size: calc(var(--base-font-size) * var(--h5-scale));
    font-weight: 500;
    color: var(--text-secondary);
  }

  h6 {
    font-size: calc(var(--base-font-size) * var(--h6-scale));
    font-weight: 400;
    color: var(--text-tertiary);
  }

  /* Parágrafos */
  p {
    font-size: var(--base-font-size);
    line-height: 1.8;
    color: var(--text-secondary);
  }

  /* Inputs e botões */
  button, input, textarea, select {
    font-size: var(--base-font-size);
    font-family: inherit;
  }

  /* Outros elementos personalizados */
  .tooltip-balloon {
    position: relative;
    z-index: 50;
  }

  .tooltip-balloon::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: var(--background-secondary) transparent transparent transparent;
  }

  .overflow-x-hidden {
    overflow-x: hidden;
  }
}

#vlibras {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

#vlibras button {
  background-color: #007BFF; /* Altere a cor se necessário */
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

